---
layout: default
title: Разборы
permalink: /analyses/
---
<h1>Разборы</h1>
<ul class="essay-list">
	{% assign items = site.analyses | sort: 'date' | reverse %}
	{% for item in items %}
	<li class="essay-list-item">
		<a class="essay-list-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
		{% if item.date %}<span class="essay-list-date"> · {{ item.date | date: "%d %b %Y" }}</span>{% endif %}
		{% if item.excerpt %}<p class="essay-list-excerpt">{{ item.excerpt | strip_html | truncate: 180 }}</p>{% endif %}
	</li>
	{% endfor %}
</ul> 